<section class="landing-top container-fluid">
  <h1>Welcome to Beasts of Berlin</h1>
</section>
<div class="container-fluid">
  <div class="carousel slide" id="my-main-carousel"  data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @products.each_with_index do |product, i| %>
        <li data-target="#my-main-carousel" data-slide-to="<%= i %>"
          class="<%= 'active' if product == @products.first %>">
        </li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
      <div  class="carousel-item <%= 'active' if product == @products.first %>">
        <div class="row">
          <div class="col-12 col-sm-6">
            <%= product_image_tag product %>
          </div>
          <div class="col-12 col-sm-6 order-sm-first description">
            <div >
              <h3><%= product.name %></h3>
              <hr />
              <p class="d-none d-sm-block"><%= product.description %></p>
            </div>
          </div>
        </div><!-- end row -->
      </div>
      <% end %>
    </div> <!-- end carousel-inner -->
    <!-- Controls -->
    <a class="carousel-control-prev" href="#my-main-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#my-main-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- End #my-main-carousel -->
  <hr />
</div>
<%= render 'shared/decoration_string' %>
<section class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-7">
      <br />
      <h2>Your source for mythical creatures in Berlin</h2>
      <p>
        We are your experts for legendary beasts. You don’t know which food your basilisk really needs?
        You wonder which type of brush is right for your Medusa's hair?
        You are looking for a companion for your gryphon?
        Then this is the place to be!
      </p>
    </div>
    <div class="col-12 col-md-5" style="padding-left: 20px;">
      <% if @featured_product %>
        <br />
        <h3><i>Featured Product: <%= @featured_product.name %></i></h3>
        <p>
          <br />
          <%= product_linked_image @featured_product, products_path %>
        </p>
      <% end  %>
    </div>
  </div><!-- end  row -->
</section>
<%= render 'shared/decoration_string' %>
