<%# locals: comment, current_user, hidden %>

<div id="<%= comment.html_id %>" style="<%= 'display:none;' if hidden %>">
  <div class="inner-comment">
    <hr>
    <p>
      <% if current_user && current_user == comment.user %>
        <strong>My Review</strong>
      <% else %>
        <%= comment.user.first_name %>
      <% end %>
      <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
      <% if can? :destroy, comment %>
        <small>
          &nbsp;
          <%= link_to 'Remove', product_comment_path(comment.product, comment),
                      method: :delete, remote: true,
                      data: { confirm: 'Are you sure?' },
                      class: "edit-link" %>
        </small>
      <% end %>
      <% if can? :edit, comment%>
        <small>
          &nbsp;
          <%= link_to 'Edit', edit_product_comment_path(comment.product, comment),
                      remote: true,
                      class: "edit-link" %>
        </small>
      <% end %>
    </p>
    <p class="rated" data-score="<%= comment.rating %>"></p>
    <p><%= comment.body %></p>
  </div>
</div>
