<%= render 'shared/decoration_string' %>
<div class="container">
  <h1>Users</h1>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-12 col-sm-5 col-md-4">
        <h4>User # <%= user.id %>: <%= user.first_name %> <%= user.last_name %></h4>
      </div>
      <div class="col-12 col-sm-7 col-md-8">
        <p>
          <%= user.email %>
          &bull; <%= link_to 'Show', user, class: "edit-link" %>
          <%= render partial: "shared/destroy_button", locals:{object: user} %>
        </p>
      </div>
    </div><!-- end row -->
  <% end %>
</div>
<%= render 'shared/decoration_string' %>
