<%= render 'shared/decoration_string' %>
<section class="edit-product container">
  <h1>Editing Product</h1>

  <%= render 'form', product: @product %>

  <p>
    <%= link_to 'Show', @product, class: "edit-link" %> |
    <%= link_to 'Back', products_path, class: "edit-link" %>
  </p>
</section>
<%= render 'shared/decoration_string' %>
